/* -*- mode: css; coding: utf-8 -*- */

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

footer,
header,
nav,
main {
    display: block;
}

.highlight-color {
    color: red;
    color: crimson;
}

.page-block {
    margin: 0 auto;
    padding: 10px;
    max-width: 1000px;
}

.menu-block {
    margin: 10px 0;
}

.menu-item {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 5px;
    font-weight: bold;
}

.menu-item a {
    text-decoration: inherit;
}

.menu-item.active {
    background-color: red;
    background-color: crimson;
    color: white;
}

.child-menu-block {
    margin: 10px 0;
    border-top: 1px dotted red;
    border-top: 1px dotted crimson;
    padding-top: 10px;
}

.content-border {
    border-top: 2px dotted;
    border-bottom: 2px dotted;
}

.select-block {
    margin: 15px 0;
    padding: 1px 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(60,60,60);
    color: white;
}
.select-block .highlight-color {
    color: rgb(255,120,100);
}

.code-block {
    margin: 15px 0;
    padding: 15px 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
    background-color: rgb(60,0,60);
    color: white;
}
.code-block .highlight-color {
    color: yellow;
}
